<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sample illustrating the use of Image Capture / Grab Frame - Take Photo.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image Capture / Grab Frame - Take Photo Sample</title>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" src="http://jsgetip.appspot.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // Add a global error event listener early on in the page load, to help ensure that browsers
        // which don't support specific functionality still end up displaying a meaningful message.
    </script>

    <link rel="icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="grab-frame-take-photo.css">

</head>

<body>

<h1>Image Capture / Grab Frame - Take Photo Sample</h1>
<p class="availability">
    Available in <a target="_blank" href="https://www.chromestatus.com/feature/4843864737185792">Chrome 56+</a> |
    <a target="_blank"
       href="https://github.com/googlechrome/samples/blob/gh-pages/image-capture/grab-frame-take-photo.html">View on
        GitHub</a> |
    <a href="index.html">Browse Samples</a>
</p>
<h3>Background</h3>
<p>The ImageCapture Web API allows web developers to capture images from camera
    in the form of a Blob with <code>takePhoto()</code> or as a ImageBitmap with
    <code>grabFrame()</code>.</p>
<form id="data" method="post" action="v1/face" enctype="multipart/form-data">
    <input type="file" id="fileUp" name="imgSrc" multiple>
</form>
<div id="results">
    <div>
        <video autoplay=""></video>
        <button id="getUserMediaButton">Get User Media</button>
    </div>
    <div>
        <canvas id="grabFrameCanvas" width="500" height="500"></canvas>
        <input type="file">
        <button id="grabFrameButton" disabled="">Grab Frame</button>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>
    var ChromeSamples = {
        log: function () {
            var line = Array.prototype.slice.call(arguments).map(function (argument) {
                return typeof argument === 'string' ? argument : JSON.stringify(argument);
            }).join(' ');

            document.querySelector('#log').textContent += line + '\n';
        },

        clearLog: function () {
            document.querySelector('#log').textContent = '';
        },

        setStatus: function (status) {
            document.querySelector('#status').textContent = status;
        },

        setContent: function (newContent) {
            var content = document.querySelector('#content');
            while (content.hasChildNodes()) {
                content.removeChild(content.lastChild);
            }
            content.appendChild(newContent);
        }
    };
</script>

<h3>Live Output</h3>
<div id="output" class="output">
    <div id="content"></div>
    <div id="status"></div>
    <pre id="log"></pre>
</div>


<script>
    if (/Chrome\/(\d+\.\d+.\d+.\d+)/.test(navigator.userAgent)) {
        // Let's log a warning if the sample is not supposed to execute on this
        // version of Chrome.
        if (56 > parseInt(RegExp.$1)) {
            ChromeSamples.setStatus('Warning! Keep in mind this sample has been tested with Chrome ' + 56 + '.');
        }
    }
</script>
<script>
    var imageCapture;

    function onGetUserMediaButtonClick() {
        navigator.mediaDevices.getUserMedia({video: true})
            .then(mediaStream => {
                document.querySelector('video').srcObject = mediaStream;

                const track = mediaStream.getVideoTracks()[0];
                imageCapture = new ImageCapture(track);
            })
            .catch(error => ChromeSamples.log(error));
    }

    function onGrabFrameButtonClick() {

        imageCapture.grabFrame()
            .then(imageBitmap => {
                const canvas = document.querySelector('#grabFrameCanvas');
                //여기서 보내면 됩니다
                drawCanvas(canvas, imageBitmap);
            })
            .catch(error => ChromeSamples.log(error));


    }

    function onTakePhotoButtonClick() {
        imageCapture.takePhoto()
            .then(blob => {
                createImageBitmap(blob)
            })
            .then(imageBitmap => {
                const canvas = document.querySelector('#takePhotoCanvas');
                drawCanvas(canvas, imageBitmap);
            })
            .catch(error => ChromeSamples.log(error));
    }

    /* Utils */

    function drawCanvas(canvas, img) {
        canvas.width = getComputedStyle(canvas).width.split('px')[0];
        canvas.height = getComputedStyle(canvas).height.split('px')[0];
        let ratio = Math.min(canvas.width / img.width, canvas.height / img.height);
        let x = (canvas.width - img.width * ratio) / 2;
        let y = (canvas.height - img.height * ratio) / 2;
        canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
        canvas.getContext('2d').drawImage(img, 0, 0, img.width, img.height,
            x, y, img.width * ratio, img.height * ratio);
        setTimeout(() => {
            var img_url = canvas.toDataURL('image/png');
            var fd = new FormData();
            fd.append("imgSrc", img_url)
            console.log(img)
            sendAJAXFileUploadRequest(fd);
        }, 100)

    }

    function sendAJAXFileUploadRequest(formData) {
        console.log(formData)
        console.log(formData.get('imgSrc'))
        $.ajax({
            type: 'POST',
            url: "v1/face",
            xhrFields: {withCredentials: false},
            headers: {},
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, status, xhttp) {
                alert(data);
            },
            error: function () {
                alert("Error uploading snapshot file to server!");
            }
        });
    }

    document.querySelector('video').addEventListener('play', function () {
        onTakePhotoButtonClick();
        onGrabFrameButtonClick();
    });
</script>
<script>
    onGetUserMediaButtonClick();
</script>
</body>
    <script src='{% static "assets/js/check.js" %}'></script>
</html>