{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Emotion</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <script src='{% static "assets/js/jquery.min.js" %}'></script>
    <script src='{% static "assets/bootstrap/js/bootstrap.min.js" %}'></script>
</head>

<script>
    function start(){
        $('#modal').modal("show");
    }
    function emotion(){
        window.location.href ='/emotion';
    }
</script>
<body style="margin-right: 10%;margin-left: 10%;">
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="/main">Emotion</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="#">사용방법</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
            <div id="modal" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        {% csrf_token %}
                        <form action="/signIn" method="POST">
                        <div class="modal-header">
                            <h4 class="modal-title">로그인</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <input type="text" style="width: 465px;height: 38px;" name="user_email" placeholder="이메일">
                            <input type="password" style="width: 465px;height: 38px;" name="user_pw" placeholder="비밀번호">
                        </div>
                        <div class="modal-footer"><button class="btn btn-primary" type="submit" style="width: 500px;padding-left: 6px;margin-left: 4px;">로그인</button><button class="btn btn-light" type="button" data-dismiss="modal" style="width: 500px;">회원가입</button></div>
                        </form>
                    </div>
                </div>
            </div>
            {% if field %}
                <a href="/dashBoard">관리자</a><a href="">&nbsp;</a><a href="/signOut">로그아웃</a>
            {% else %}
                <a href="#" onclick="start()">로그인</a><a href="#">&nbsp;</a><a href="#">회원가입</a>
            {% endif %}
        </div>
    </nav>
    <div class="jumbotron">
        <h1>사용자 감정 보안 시스템</h1>
        <p>본 시스템은 음성 / 얼굴 등을 이용한 사용자의 감정을 판단하는 보안 시스템 입니다.</p>
        {% if field %}
            <p><a class="btn btn-primary" role="button" onclick="emotion()">시작하기</a></p>
        {% else %}
            <p><a class="btn btn-primary" role="button" onclick="start()">시작하기</a></p>
        {% endif %}
    </div>
</body>

</html>